@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Diplomata+SC);

div#interface{
	width: 100%;
	margin: 10px auto 10px auto;
	box-shadow: 0px 0px 10px black;
}

header#cabecalho{
	/*border-bottom: 1px #000000 solid;*/
	height:100%;
}

header#cabecalho h6{ 
	color:black;
	margin:50px 30px 30px 30px;
	padding: 0px;
	text-align:center;
	font-family: 'Diplomata SC', cursive;
	font-size:150%;
	text-shadow: 2px 2px 2px blue;
}

nav#menu ul{
	list-style: none;
    text-transform: uppercase;
	position: absolute;
	top:-15px;
	left:0%;
}

footer {
	background-color:black;
	height:100%;
	color:white;
	clear:both;
	text-align:center;
}

nav#menu li{
	display:inline;
	background-color: #dddddd;
	padding: 10px;
	margin: 2px;
	transition: background-color 1s;
}
nav#menu li:hover{
	background: #606060;
}
nav#menu h1{
	display: none;
}

nav#menu a{
	color: #000000;
	text-decoration: none;
}	
nav#menu a:hover{
	color:#ffffff;
}
nav#menu a:active{
	background-color: #191970;
}
